<!-- <main>
    <div class="main-wrapper">
        <div id="content">
            <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">Branch Receivable List</p>
                        <div class="d-flex align-items-center gap-3">
                            <div class="dropdown filter-dropdown">
                                <span class="btn btn-sm btn-primary dropdown-toggle font-12 " type="button" id="dropdownMenuButton23" data-bs-toggle="dropdown" aria-expanded="true"><span class="text text-uppercase text-white">Bakersfield</span> <i class="far fa-angle-down font-12 text-white"></i></span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton23" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 36px);" data-popper-placement="bottom-start">
                                    <a class="dropdown-item pending font-13 text-capitalize" href="javascript:;">Bakersfield</a>
                                    <a class="dropdown-item pending font-13 text-capitalize" href="javascript:;">Delhi</a>
                                    <a class="dropdown-item pending font-13 text-capitalize" href="javascript:;">Toronto</a>
                                    <a class="dropdown-item pending font-13 text-capitalize" href="javascript:;">City Twon</a>
                                    <a class="dropdown-item pending font-13 text-capitalize" href="javascript:;">Moga</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Search Box :: End -->
                        <!-- Table Result :: Start -->
                        <div class="table-responsive p-20 pb-0">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-start">Load ID</th>
                                        <th class="text-uppercase whitespace-nowrap">Load Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Branch</th>
                                        <th class="text-uppercase whitespace-nowrap">Income</th>
                                        <th class="text-uppercase whitespace-nowrap">Expense</th>
                                        <th class="text-uppercase whitespace-nowrap">Commission Percentage</th>
                                        <th class="text-uppercase whitespace-nowrap">Commission Earned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">15798</td>
                                        <td class="text-capitalize whitespace-nowrap">Send To Accounting</td>
                                        <td class="text-capitalize whitespace-nowrap">Delhi</td>
                                        <td class="text-capitalize whitespace-nowrap">$6,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">$5,000.00</td>
                                        <td class="text-capitalize whitespace-nowrap">30%</td>
                                        <td class="text-capitalize whitespace-nowrap">$300.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                        <!-- Pagination :: Start -->
                        <div class="row mt-30">
                            <div class="col-xl-12">
                                <nav aria-label="Page navigation example ms-auto me-auto">
                                    <ul class="pagination justify-content-center gap-2">
                                        <li class="page-item">
                                            <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="far fa-angle-left font-weight-300"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                                        <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="far fa-angle-right font-weight-300"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination :: End -->
                    </div>
            </div>
            <!-- </div>
        </div>
            <app-footer></app-footer>
</main> -->