<!-- <main>
    <div class="main-wrapper">
        <div id="content">
            <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">Searched Carrier List</p>
                    </div>
                    <div class="page-card-body">
                        <!-- Table Result :: Start -->
                        <div class="table-responsive p-20 pb-0">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase whitespace-nowrap text-start">Carrier Name</th>
                                        <th class="text-uppercase whitespace-nowrap">DOT No.</th>
                                        <th class="text-uppercase whitespace-nowrap">City</th>
                                        <th class="text-uppercase whitespace-nowrap">State</th>
                                        <th class="text-uppercase whitespace-nowrap">Adsress</th>
                                        <th class="text-uppercase whitespace-nowrap">Status Code</th>
                                        <th class="text-uppercase whitespace-nowrap">Brokerage Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Common Authority Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Insurance Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">Mann Trance INC</td>
                                        <td class="text-capitalize">125</td>
                                        <td class="text-capitalize whitespace-nowrap">Nainital</td>
                                        <td class="text-capitalize whitespace-nowrap">Uttarakhand</td>
                                        <td class="text-capitalize">400 Stoney Creek Rd</td>
                                        <td class="text-capitalize whitespace-nowrap">1300</td>
                                        <td class="text-capitalize whitespace-nowrap">Brokerage Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Common Authority Status</td>
                                        <td class="text-capitalize whitespace-nowrap">Insurance Status</td>
                                        <td class="text-capitalize whitespace-nowrap">12/12/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                        <!-- Pagination :: Start -->
                        <div class="row mt-30">
                            <div class="col-xl-12">
                                <nav aria-label="Page navigation example ms-auto me-auto">
                                    <ul class="pagination justify-content-center gap-2">
                                        <li class="page-item">
                                            <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="far fa-angle-left font-weight-300"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                                        <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="far fa-angle-right font-weight-300"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination :: End -->
                    </div>
                </div>
            </div>
        <!-- </div>
            <app-footer></app-footer>
    </div>
</main> -->





















<!-- addLocation Offcanvas :: Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="addLocation" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="font-15 font-weight-600 mb-0 text-capitalize">Add Location</h5>
        <a class="btn-close text-reset font-14" data-bs-dismiss="offcanvas" aria-label="Close"></a>
    </div>
    <div class="offcanvas-body view-load position-relative">
        <div class="card border-radius-10 mb-20 toggle-block">
            <div class="card-header bg-transparent border-0">
                <div class="heading d-flex align-items-center justify-content-between">
                    <p class="font-13 font-weight-600 mb-0">Location Address</p>
                    <a class="font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body p-20 toggle-able detail-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Location Search</label>
                            <span class="far fa-search form-control-feedback"></span>
                            <input type="text" name="locationsearch" class="form-control" placeholder="Customer Search"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Location Name<span class="requried ms-1">*</span></label>
                            <input type="text" name="locationname" class="form-control" placeholder="Location Name"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Street Address Only<span class="requried ms-1">*</span></label>
                            <input type="text" name="streetaddress" class="form-control" placeholder="Address"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Unit/Apt</label>
                            <input type="text" name="unitapt" class="form-control" placeholder="Company Display Name"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">City<span class="requried ms-1">*</span></label>
                            <input type="text" name="city" class="form-control" placeholder="City"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">State<span class="requried ms-1">*</span></label>
                            <input type="text" name="state" class="form-control" placeholder="State"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Zip Code</label>
                            <input type="text" name="zipcode" class="form-control" placeholder="Zip Code"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Country</label>
                            <input type="text" name="country" class="form-control" placeholder="Country"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Phone Number</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-radius-10 mb-20 toggle-block">
            <div class="card-header bg-transparent border-0">
                <div class="heading d-flex align-items-center justify-content-between">
                    <p class="font-13 font-weight-600 mb-0">Location Contact List</p>
                    <a class="edit-text font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body p-20 toggle-able detail-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Phone Number</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Ext</label>
                            <input type="text" name="ext" class="form-control" placeholder="EXT"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Fax</label>
                            <input type="text" name="fax" class="form-control" placeholder="Fax"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">From time</label>
                            <div class="input-group" id="dropoffdate-filter">
                                <span class="far fa-clock form-control-feedback"></span>
                                <input type="time" class="form-control border-radius-6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">To time</label>
                            <div class="input-group" id="dropoffdate-filter">
                                <span class="far fa-clock form-control-feedback"></span>
                                <input type="time" class="form-control border-radius-6" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-60">
            <a class="font-12 d-block mb-20" data-bs-toggle="collapse" href="#optionalItems" role="button" aria-expanded="false" aria-controls="optionalItems">
                <i class="fas fa-ellipsis-h"></i> Optional Items
            </a>
            <div class="collapse" id="optionalItems">
                <div class="card border-radius-10">
                    <div class="card-body p-20">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="form-group">
                                    <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Private Notes</label>
                                    <textarea class="form-control" name="privatenotes" rows="5" placeholder="Private Notes"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="form-group">
                                    <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Public Notes</label>
                                    <textarea class="form-control" name="publicnotes" rows="5" placeholder="Public Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-footer text-center">
            <a href="javascript:;" class="font-weight-400 font-12 me-2">Cancel</a>
            <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Submit</button>
        </div>
    </div>
</div>
<!-- addLocation Offcanvas :: End -->
<!-- Footer Script :: Start -->

