<!-- <main>
    <div class="main-wrapper">
        <div id="content">
            <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">Tag Management</p>
                        <a href="javascript:;" class="btn btn-outline-info text-main text-uppercase text-center font-12" type="button" data-bs-toggle="offcanvas" data-bs-target="#addDailyRates" aria-controls="offcanvasRight"><i class="far fa-plus"></i> Add Tag</a>
                    </div>
                    <div class="page-card-body">
                        <!-- Table Result :: Start -->
                        <div class="table-responsive p-20 pb-0">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase whitespace-nowrap text-start">Tag Name</th>
                                        <th class="text-uppercase whitespace-nowrap">Color</th>
                                        <th class="text-uppercase whitespace-nowrap">Added By</th>
                                        <th class="text-uppercase whitespace-nowrap">Time</th>
                                        <th class="text-uppercase whitespace-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#ff0000"></i>#ff0000</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#8338ec"></i>#8338ec</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#4361ee"></i>#4361ee</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#fee440"></i>#fee440</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#ff9770"></i>#ff9770</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#00afb9"></i>#00afb9</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#ff5d8f"></i>#ff5d8f</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#5a189a"></i>#5a189a</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#38b000"></i>#38b000</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-capitalize whitespace-nowrap text-start">Delivered</td>
                                        <td class="text-capitalize whitespace-nowrap"><i class="fas fa-square me-2" style="color:#517739"></i>#517739</td>
                                        <td class="text-capitalize whitespace-nowrap">Hi Tech India</td>
                                        <td class="text-capitalize whitespace-nowrap">01/05/2022 1:03 PM</td>
                                        <td class="text-capitalize whitespace-nowrap"> 
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                        <!-- Pagination :: Start -->
                        <div class="row mt-30">
                            <div class="col-xl-12">
                                <nav aria-label="Page navigation example ms-auto me-auto">
                                    <ul class="pagination justify-content-center gap-2">
                                        <li class="page-item">
                                            <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="far fa-angle-left font-weight-300"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                                        <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="far fa-angle-right font-weight-300"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination :: End -->
                    </div>
                </div>
            </div>
        <!-- </div>
            <app-footer></app-footer>
    </div>
</main> -->

























<!-- addLocation Offcanvas :: Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="addDailyRates" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="font-15 font-weight-600 mb-0 text-capitalize">Add Tag</h5>
        <a class="btn-close text-reset font-14" data-bs-dismiss="offcanvas" aria-label="Close"></a>
    </div>
    <div class="offcanvas-body view-load position-relative">
        <div class="card border-radius-10 mb-20 toggle-block">
            <div class="card-header bg-transparent border-0">
                <div class="heading d-flex align-items-center justify-content-between">
                    <p class="font-13 font-weight-600 mb-0">Tag Details</p>
                    <a class="font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body p-20 toggle-able detail-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Tag Name</label>
                            <input class="form-control" name="tag-name" placeholder="Tag Name" />
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Color</label>
                            <input type="color" name="lowestrate" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-footer text-center">
            <a href="javascript:;" class="font-weight-400 font-12 me-2">Cancel</a>
            <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Submit</button>
        </div>
    </div>
</div>
<!-- addLocation Offcanvas :: End -->