<!-- <main>
    <div class="main-wrapper">
        <div id="content">
            <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">Permission Groups</p>
                    </div>
                        <!-- Search Box :: End -->
                        <!-- Table Result :: Start -->
                        <div class="p-20 pb-0">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group mb-0">
                                        <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Permission Group Name</label>
                                        <input type="text" name="permissiongroupname" class="form-control" placeholder="Permission Group Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive p-20 pb-0">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-start">Module</th>
                                        <th class="text-uppercase whitespace-nowrap" width="50px">Create</th>
                                        <th class="text-uppercase whitespace-nowrap" width="50px">Read</th>
                                        <th class="text-uppercase whitespace-nowrap" width="50px">Update</th>
                                        <th class="text-uppercase whitespace-nowrap" width="50px">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">locations</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">carriers</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">customers</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">drivers</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">trucks</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">loads</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">trailers</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">loads templates</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">customer name</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">income amount</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">expense amount</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">carrier payable</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start text-capitalize whitespace-nowrap">account receivable</td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                        <td class="text-capitalize whitespace-nowrap"><input type="checkbox" class="d-inline-block" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                        <!-- Pagination :: Start -->
                        <div class="row mt-30">
                            <div class="col-xl-12">
                                <nav aria-label="Page navigation example ms-auto me-auto">
                                    <ul class="pagination justify-content-center gap-2">
                                        <li class="page-item">
                                            <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="far fa-angle-left font-weight-300"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                                        <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="far fa-angle-right font-weight-300"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination :: End -->
                    </div>
            </div>
        <!-- </div>
        <app-footer></app-footer>
    </div>
</main> -->































    
    <!-- manageBranch Offcanvas :: Start -->
    <div class="offcanvas offcanvas-end add-customer" tabindex="-1" id="manageBranch" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel" class="font-15 font-weight-600 mb-0 text-capitalize">Add Branch</h5>
            <a class="btn-close text-reset font-14" data-bs-dismiss="offcanvas" aria-label="Close"></a>
        </div>
        <div class="offcanvas-body view-load position-relative">
            <div class="card border-radius-10 mb-20 toggle-block">
                <div class="card-header bg-transparent border-0">
                    <div class="heading d-flex align-items-center justify-content-between">
                        <p class="font-13 font-weight-600 mb-0">Branch Details</p>
                        <a class="font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="card-body p-20 toggle-able detail-body">
                    <div class="row">
                         <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label class="font-12 font-weight-400 text-uppercase mb-10">Branch Name</label>
                                <input type="text" class="form-control" name="trucknumber" placeholder="Branch Name"/>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label class="font-12 font-weight-400 text-uppercase mb-10">Color</label>
                                <input type="color" class="form-control" name="trucknumber" placeholder="Color"/>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label class="font-12 font-weight-400 text-uppercase mb-10">Branch Manager</label>
                                <select id="branch-manager" class="js-states form-control form-select" aria-placeholder="Branch Manager">
                                    <option></option>
                                    <option>Dev Account</option>
                                    <option>Designer</option>
                                    <option>Manish</option>
                                    <option>Rajeev</option>
                                    <option>Anuj</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label class="font-12 font-weight-400 text-uppercase mb-10">New Customer Commission</label>
                                <input type="text" class="form-control" name="newcustomercommission" placeholder="New Customer Commission"/>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label class="font-12 font-weight-400 text-uppercase mb-10">Existing Customer Commission</label>
                                <input type="text" class="form-control" name="existingcustomercommission" placeholder="Existing Customer Commission"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-footer text-center">
                <a href="javascript:;" class="font-weight-400 font-12 me-3">Cancel</a>
                <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Submit</button>
            </div>
        </div>
    </div>
    <!-- manageBranch Offcanvas :: End -->
    <!-- Footer Script :: Start -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/dropify.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script  src="assets/js/bootstrap5-dropdown-ml-hack.js"></script>
    <script src="assets/js/script.js"></script> -->
    <script>
        $(document).ready(function(){
            $("input[name=ownerType]").change(function() {
                var test = $(this).val();
                $(".ownerType-content").hide();
                $("#"+test).show();
            });
        });
    </script>

