<!-- <main>
    <div class="main-wrapper">
        <div id="content">
          <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">Carrier on Board service</p>
                    </div>
                    <div class="page-card-body">
                        <!-- Search Box :: Start -->
                        <div class="search-by p-20 pb-0">
                            <form method="post">
                                <div class="row">
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">DOT Number</label>
                                            <input type="text" name="dotno" class="form-control" placeholder="DOT Number" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Carrier Email</label>
                                            <input type="text" name="carrieremail" class="form-control" placeholder="Carrier Email" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Company Name</label>
                                            <input type="text" name="companyname" class="form-control" placeholder="Company Name" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">DBA Name</label>
                                            <input type="text" name="dbaname" class="form-control" placeholder="DBA Name" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">MC Number</label>
                                            <input type="text" name="mcnumber" class="form-control" placeholder="MC Number" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Street Address</label>
                                            <input type="text" name="streetaddress" class="form-control" placeholder="Street Address" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">City</label>
                                            <input type="text" class="form-control" placeholder="City" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">States</label>
                                            <input type="text" name="states" class="form-control" placeholder="State" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Zip Code</label>
                                            <input type="text" name="zipcode" class="form-control" placeholder="Zip Code" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Country</label>
                                            <input type="text" name="country" class="form-control" placeholder="Country" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">TAX Id</label>
                                            <input type="text" name="taxid" class="form-control" placeholder="Tax ID" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-xl-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Phone Number</label>
                                            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number" />
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="form-group d-flex align-items-center gap-3">
                                            <a href="javascript:;" class="font-12 font-weight-500 text-main d-block text-decoration-underline">Clear All</a>
                                            <button class="btn btn-secondary font-weight-400 font-12 ps-4 pe-4">Save & send link to Carrier</button>
                                            <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Fatch Details</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Search Box :: End -->
                        <!-- Table Result :: Start -->
                        <div class="table-responsive p-20">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase whitespace-nowrap text-start">Carrier Email</th>
                                        <th class="text-uppercase whitespace-nowrap">DOT</th>
                                        <th class="text-uppercase whitespace-nowrap">MC</th>
                                        <th class="text-uppercase whitespace-nowrap">Link Hash</th>
                                        <th class="text-uppercase whitespace-nowrap">On Boarded Carrier</th>
                                        <th class="text-uppercase whitespace-nowrap">Sent By</th>
                                        <th class="text-uppercase whitespace-nowrap">Sent At</th>
                                        <th class="text-uppercase whitespace-nowrap">Expired On</th>
                                        <th class="text-uppercase whitespace-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start">abc@gmail.com</td>
                                        <td class="text-capitalize">03093227</td>
                                        <td class="text-capitalize whitespace-nowrap">071302</td>
                                        <td class="whitespace-nowrap">Link Hash</td>
                                        <td class="text-capitalize whitespace-nowrap">3d Logistics</td>
                                        <td class="text-capitalize whitespace-nowrap">Walmart Store</td>
                                        <td class="text-capitalize whitespace-nowrap">Monroe, GA</td>
                                        <td class="text-capitalize whitespace-nowrap">07/042023</td>
                                        <td class="text-capitalize whitespace-nowrap">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3" ><i class="far fa-edit" data-bs-toggle="tooltip" title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                    </div>
                </div>
            </div>
        <!-- </div>
            <app-footer></app-footer>
    </div>
</main> -->




















<!-- addLocation Offcanvas :: Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="addLocation" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="font-15 font-weight-600 mb-0 text-capitalize">Add Location</h5>
        <a class="btn-close text-reset font-14" data-bs-dismiss="offcanvas" aria-label="Close"></a>
    </div>
    <div class="offcanvas-body view-load position-relative">
        <div class="card border-radius-10 mb-20 toggle-block">
            <div class="card-header bg-transparent border-0">
                <div class="heading d-flex align-items-center justify-content-between">
                    <p class="font-13 font-weight-600 mb-0">Location Address</p>
                    <a class="font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body p-20 toggle-able detail-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Location Search</label>
                            <span class="far fa-search form-control-feedback"></span>
                            <input type="text" name="locationsearch" class="form-control" placeholder="Customer Search"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Location Name<span class="requried ms-1">*</span></label>
                            <input type="text" name="locationname" class="form-control" placeholder="Location Name"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Street Address Only<span class="requried ms-1">*</span></label>
                            <input type="text" name="streetaddress" class="form-control" placeholder="Address"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Unit/Apt</label>
                            <input type="text" name="unitapt" class="form-control" placeholder="Company Display Name"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">City<span class="requried ms-1">*</span></label>
                            <input type="text" name="city" class="form-control" placeholder="City"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">State<span class="requried ms-1">*</span></label>
                            <input type="text" name="state" class="form-control" placeholder="State"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Zip Code</label>
                            <input type="text" name="zipcode" class="form-control" placeholder="Zip Code"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Country</label>
                            <input type="text" name="country" class="form-control" placeholder="Country"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Phone Number</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-radius-10 mb-20 toggle-block">
            <div class="card-header bg-transparent border-0">
                <div class="heading d-flex align-items-center justify-content-between">
                    <p class="font-13 font-weight-600 mb-0">Location Contact List</p>
                    <a class="edit-text font-14 font-weight-500 text-main toggle-trigger"><i class="far fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body p-20 toggle-able detail-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Phone Number</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Ext</label>
                            <input type="text" name="ext" class="form-control" placeholder="EXT"/>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Fax</label>
                            <input type="text" name="fax" class="form-control" placeholder="Fax"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">From time</label>
                            <div class="input-group" id="dropoffdate-filter">
                                <span class="far fa-clock form-control-feedback"></span>
                                <input type="time" class="form-control border-radius-6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group has-search">
                            <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">To time</label>
                            <div class="input-group" id="dropoffdate-filter">
                                <span class="far fa-clock form-control-feedback"></span>
                                <input type="time" class="form-control border-radius-6" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-60">
            <a class="font-12 d-block mb-20" data-bs-toggle="collapse" href="#optionalItems" role="button" aria-expanded="false" aria-controls="optionalItems">
                <i class="fas fa-ellipsis-h"></i> Optional Items
            </a>
            <div class="collapse" id="optionalItems">
                <div class="card border-radius-10">
                    <div class="card-body p-20">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="form-group">
                                    <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Private Notes</label>
                                    <textarea class="form-control" name="privatenotes" rows="5" placeholder="Private Notes"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="form-group">
                                    <label class="text-uppercase font-weight-400 font-12 mb-10 d-block">Public Notes</label>
                                    <textarea class="form-control" name="publicnotes" rows="5" placeholder="Public Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-footer text-center">
            <a href="javascript:;" class="font-weight-400 font-12 me-2">Cancel</a>
            <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Submit</button>
        </div>
    </div>
</div>
<!-- addLocation Offcanvas :: End -->
<!-- Footer Script :: Start -->

