<!-- <main>
    <div class="main-wrapper">
        <div id="content">
            <app-header></app-header> -->
            <div class="main-area position-relative">
                <!-- Top Search :: Start -->
                <div class="collapse" id="collapseExample">
                    <div class="top-search card card-body  border-0 rounded-0">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="far fa-search font-14"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Top Search :: End -->
                <div class="page-card bg-white">
                    <div class="page-card-title d-flex align-items-center justify-content-between">
                        <p class="font-15 font-weight-600 mb-0 text-capitalize">De-Activated Customer</p>
                    </div>
                        <!-- Search Box :: End -->
                        <!-- Table Result :: Start -->
                        <div class="table-responsive p-20 pb-0">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-start">Customer Name</th>
                                        <th class="text-uppercase">Type</th>
                                        <th class="text-uppercase whitespace-nowrap">Phone Number</th>
                                        <th class="text-uppercase">Created By</th>
                                        <th class="text-uppercase whitespace-nowrap">Branch Name</th>
                                        <th class="text-uppercase whitespace-nowrap">Branch Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-red font-weight-400"><i class="fas fa-circle font-10 me-1"></i>In-Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-red font-weight-400"><i class="fas fa-circle font-10 me-1"></i>In-Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start whitespace-nowrap">Adams Moncrief Transports, Inc</td>
                                        <td class="text-capitalize">facility</td>
                                        <td class="text-capitalize whitespace-nowrap">9852652365</td>
                                        <td class="text-capitalize">Hi Tech India</td>
                                        <td class="text-capitalize">Bakersfield</td>
                                        <td class="text-capitalize"><span class="text-green font-weight-400"><i class="fas fa-circle font-10 me-1"></i>Active</span></td>
                                        <td class="text-capitalize">
                                            <a href="javascript:;" class="text-capitalize font-12 text-info me-3"><i class="far fa-edit" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"></i></a>
                                            <a href="javascript:;" class="text-capitalize font-12 text-red"><i class="far fa-trash-alt" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Result :: End -->
                        <!-- Pagination :: Start -->
                        <div class="row mt-30">
                            <div class="col-xl-12">
                                <nav aria-label="Page navigation example ms-auto me-auto">
                                    <ul class="pagination justify-content-center gap-2">
                                        <li class="page-item">
                                            <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="far fa-angle-left font-weight-300"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                                        <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                                        <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="far fa-angle-right font-weight-300"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination :: End -->
                    </div>
            </div>
        <!-- </div>
        </div>
            <app-footer></app-footer>
</main> -->