<main>
    <div class="main-wrapper">
        <!-- Page Content :: Start  -->
        <div id="content">
            <!-- Top Bar :: Start -->
            <header class="top-bar mb-0">
                <div class="action-group d-flex justify-content-between align-items-center"> 
                    <div class="group1 d-flex align-items-center gap-3">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <div class="container-fluid p-0">
                                <a class="navbar-brand" [routerLink]="['/loads/loads-list']" style="width:120px">
                                    <img src="assets/images/logo-dark1.png" class="img-fluid">
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="group2 d-flex gap-2 align-items-center">
                        <div class="cursor-pointer text-white me-2">
                            <a [routerLink]="['/loads/loads-list']" class="text-main font-14 font-weight-400"><i class="far fa-arrow-left font-13 me-1"></i> Back</a>
                        </div>
                        <div class="user-name display-md-none">
                            <span class="text-capitalize text-black font-13">Hi, <span class="font-weight-600 text-black">User</span></span>
                        </div>
                        <div class="dropdown">
                            <div id="dropdownMenuLink" class="user-profile dropdown-toggle border-radius-50 overflow-hidden" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/profile-pic.png" class="img-fluid" alt="profile name" title="profile name">
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                                <li class="text-center text-main bg-lightblue pt-2 pb-2 display-md-block">
                                    <a href="javascript:;" class="dropdown-item font-13">
                                        Hi, <span class="font-weight-400">User Name</span>
                                    </a>
                                </li>
                                <li><a class="dropdown-item font-13" href="#"><i class="far fa-user me-2 text-main"></i> Profile</a></li>
                                <li><a class="dropdown-item font-13" href="#"><i class="far fa-file-invoice me-2 text-main"></i> Invoice</a></li>
                                <li><a class="dropdown-item font-13" href="login.html"><i class="far fa-sign-out me-2 text-main"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Top Bar :: End -->
            <!-- main Area :: Start -->
            <div class="main-area position-relative">
                <div class="page-card bg-white">
                    <div class="page-card-body">
                        <div class="container p-2 d-flex">
                            <div class="people-list" id="people-list">
                                <!-- <div class="search">
                                    <input type="text" placeholder="search" />
                                    <i class="fa fa-search"></i>
                                </div> -->
                                <div class="form-group mb-0">
                                    <input type="text" name="customer" class="form-control" placeholder="Search...">
                                </div>
                                <ul class="list mb-0">
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user1.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Vincent Porter</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user2.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Aiden Chavez <span class="font-12 font-weight-600 ms-2">12</span></div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-clock offline font-10"></i> left 7 mins ago
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user3.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Mike Thomas</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user4.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Erica Hughes</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user5.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Ginger Johnston</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user6.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Tracy Carpenter</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-clock offline font-10"></i> left 30 mins ago
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user7.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Christian Kelly</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-clock offline font-10"></i> left 10 hours ago
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user8.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Monica Ward</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user9.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Dean Henry</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-clock offline font-10"></i> offline since Oct 28
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user10.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user1.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user2.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user3.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user4.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                    <li class="d-flex align-items-start gap-2">
                                      <img src="assets/images/users/user5.png" alt="avatar" />
                                      <div class="about">
                                        <div class="name font-14 font-weight-400 mb-1">Peyton Mckinney</div>
                                        <div class="user-status font-12 font-weight-400">
                                          <i class="fa fa-circle online font-10"></i> online
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat">
                                <div class="chat-header d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/images/users/user5.png" alt="avatar" />
                                        <div class="chat-about">
                                          <h2 class="chat-with font-15 font-weight-600 mb-0">Vincent Porter</h2>
                                          <span class="chat-num-messages font-13 font-weight-400">online</span>
                                        </div>
                                    </div>
                                    <i class="fa fa-star"></i>
                                </div> <!-- end chat-header -->
                              
                                <div class="chat-history">
                                    <ul>
                                      <li class="d-flex flex-column">
                                        <div class="message-data align-right">
                                          <span class="text-muted font-12 font-weight-500 me-2"><i class="far fa-check-double text-green me-2"></i>10:10 AM, Today</span>
                                          <img src="assets/images/users/user5.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          
                                        </div>
                                        <div class="message other-message ms-auto">
                                          <p class="font-14 font-weight-400 text-white mb-0">Hi Vincent, how are you? How is the project coming along?</p>
                                        </div>
                                      </li>
                                      
                                      <li class="d-flex flex-column">
                                        <div class="message-data">
                                          <img src="assets/images/users/user2.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          <span class="text-muted font-12 font-weight-500 ms-2">10:12 AM, Today</span>
                                        </div>
                                        <div class="message my-message me-auto">
                                          <p class="font-14 font-weight-400 mb-0">Are we meeting today? Project has been already finished and I have results to show you.</p>
                                        </div>
                                      </li>
                                      
                                      <li class="d-flex flex-column">
                                        <div class="message-data align-right">
                                          <span class="text-muted font-12 font-weight-500 me-2" ><i class="far fa-check-double text-green me-2"></i>10:14 AM, Today</span>
                                          <img src="assets/images/users/user5.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          
                                        </div>
                                        <div class="message other-message ms-auto">
                                          <p class="font-14 font-weight-400 text-white mb-0">Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?</p>
                                        </div>
                                      </li>
                                      
                                      <li class="d-flex flex-column">
                                        <div class="message-data">
                                          <img src="assets/images/users/user2.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          <span class="text-muted font-12 font-weight-500 ms-2">10:20 AM, Today</span>
                                        </div>
                                        <div class="message my-message me-auto">
                                          <p class="font-14 font-weight-400 mb-0">Actually everything was fine. I'm very excited to show this to our team.</p>
                                        </div>
                                      </li>

                                      <li class="d-flex flex-column">
                                        <div class="message-data align-right">
                                          <span class="text-muted font-12 font-weight-500 me-2"><i class="far fa-check-double text-green me-2"></i>10:10 AM, Today</span>
                                          <img src="assets/images/users/user5.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          
                                        </div>
                                        <div class="message other-message ms-auto">
                                          <p class="font-14 font-weight-400 text-white mb-0">Hi Vincent, how are you? How is the project coming along?</p>
                                        </div>
                                      </li>
                                      
                                      <li class="d-flex flex-column">
                                        <div class="message-data">
                                          <img src="assets/images/users/user2.png" class="d-inline-block rounded avatar-xxs overflow-hidden"/>
                                          <span class="text-muted font-12 font-weight-500 ms-2">10:12 AM, Today</span>
                                        </div>
                                        <div class="message my-message me-auto">
                                          <p class="font-14 font-weight-400 mb-0">Are we meeting today? Project has been already finished and I have results to show you.</p>
                                        </div>
                                      </li>

                                      <li>
                                        <div class="typing">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                        </div>
                                      </li>
                                      
                                    </ul>
                                </div>
                                <div class="chat-message">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputGroupFile04"  placeholder="Type your message...">
                                        <button class="btn btn-primary font-weight-400 font-12 ps-4 pe-4">Send</button>
                                    </div>
                                    <div class="other-option mt-10">
                                         <a href="javascript:;" class="avatar-xs font-13 me-2" title="Documents"><i class="far fa-file text-main"></i></a>
                                         <a href="javascript:;" class="avatar-xs font-13" title="Documents"><i class="far fa-image text-main"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- main Area :: End -->
        </div>
        <!-- Page Content :: End -->
        <!--Footer :: Start-->
            <app-footer></app-footer>
        <!--Footer :: End-->
    </div>
</main>


<style>
    .container {
  background: #f5f7fb;
  border-radius: 5px;
  height: calc(100vh - 97px );
}
.people-list {
  float: left;
  flex: 0 0 30%;
}
.people-list .form-group {
  padding: 15px 20px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 15px 20px;
  height: 100%;
  overflow: auto;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list ul li:last-child {
  margin-bottom: 35px;
}
.people-list img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.people-list ul li .about .name span{
  background: rgba(239,71,111,.18);
  display: inline-block;
  width: 32px;
  height: fit-content;
  text-align: center;
  border-radius: 50px;
  padding: 0px 5px;
  color: #ef476f;
}
.people-list .user-status {
  color: #92959E;
}

.chat {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f1f1f1;
}
.chat .chat-header img {
  width: 45px;
  height: 45px;
}
/* .chat .chat-header .chat-about {
 
} */
/*.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}*/
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
/*.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}*/
.chat .chat-history {
  padding: 15px 20px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: calc(100vh - 300px);
  background: url(../images/bg/chat-bg.png);
  background-size: cover;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  padding: 18px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  min-width: 40%;
  max-width: 80%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #e6ecf3;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #e6ecf3;
  color: #7792b1;
}
.chat .chat-history .my-message p{
  color: #7792b1;
}
.chat .chat-history .other-message {
  background: #6689e4;
  text-align: right;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #6689e4;
  left: 93%;
}
.chat .chat-message {
  padding: 15px 20px;
  border-top: 2px solid #f1f1f1;
}
.chat .chat-message input {
  border-top-right-radius:0 !important;
  border-bottom-right-radius:0 !important;
}

.chat .chat-message .other-option .avatar-xs{
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  line-height: 2rem;
  background-color: rgb(0 71 189 / 15%);
  border-color: rgb(0 71 189 / 14%);
}
.chat .chat-message .other-option .avatar-xs:hover{
  background-color: rgb(0 71 189 / 24%);
}
.online {
  color: #86BB71;
}

.offline {
  color: #e27c56;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
.typing {
  position: relative;
}
.typing span {
  content: "";
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: #3b5998;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.typing span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  margin-left: 15px;
}
.typing span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-left: 30px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
</style>